@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Italiana&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 1440px;
}

main {
    display: flex;
}

.menu ul {
    list-style: none;
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    color: #000;
    font-family: Annie Use Your Telescope;
    font-size: 343.75%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu li {
    margin-top: 15px;
    margin-left: 90px;
    margin-right: 170px;
}

div.photo {
    max-width: 50%;
    padding-right: 0px;
    padding-left: 80px;
}

div.photo img {
    width: 100%;
}

h1 {
    font-size: 96px;
    font-family: 'Italiana', sans-serif;
    padding: 120px 0 20px;
}

div.content {
    max-width: 50%;
}

p.un {
    /* margin-top: -550px; */
    /* margin-left: 700px; */
    font-size: 28px;
    font-family: Annie Use Your Telescope;
}

p.kyr {
    /* margin-left: 650px; */
    font-family: Annie Use Your Telescope;
    font-size: 28px;
    /* margin-top: 180px; */
}

p.cyp {
    /* margin-left: 1000px; */
    font-family: Annie Use Your Telescope;
    font-size: 28px;
    /* margin-top: -45px; */
}

svg.i {
    margin-left: 25%;
    margin-top: 2%;
}

svg.git {
    margin-left: 20%;

}

svg.gm {
    margin-left: 20%;
}

hr.second {
    /* margin-top: 30px; */
    width: 100%;
    height: 1px;
    background-color: #EFEFEF;
    border: none;
    position: relative;
    z-index: 999;
}

div.loc {
    display: flex;
    justify-content: space-between;
    padding: 150px 0 0;
    margin-left: -50px;
}

@media screen and (max-width:1299px) {
    h1 {
        padding: 90px 0 10px;
        font-size: 80px;
    }

}