@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Italiana&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

}

.menu ul {
    list-style: none;
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    font-family: Annie Use Your Telescope;
    font-size: 343.75%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu li {
    margin-top: 15px;
    margin-left: 90px;
    margin-right: 170px;
}

div.photo {
    max-width: 50%;
    padding-right: 0px;
    padding-left: 80px;
}

div.photo img {
    width: 100%;
}
